/* App.css */

/* 모든 요소의 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #161616; /* 전체 배경색 설정 */
  color: white; /* 텍스트 색상 설정 */
  min-height: 100vh; /* 전체 화면 높이 차지 */
  max-width: 1200px;
  font-family: Arial, sans-serif; /* 기본 폰트 설정 */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%; /* 화면 크기가 작을 때도 반응형 유지 */
  margin: 0 auto; /* 화면 가운데 정렬 */
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; /* 양쪽 여백 */
}
